<div class="product-list">
    <div ng-repeat="(key, product) in productListCtrl.products">
        <h3>{{product.name}}</h3>
        <p>{{product.description}}</p>
        <p>{{product.price}}</p>
        <a href="#" ng-click="productListCtrl.removeProduct(key, product.id)">Delete</a>
    </div>
</div>
<div class="product-form">
    <div>Name</div>
    <div>
        <input type="text" ng-model="productListCtrl.product.name" />
    </div>
    <div>Description</div>
    <div>
        <textarea ng-model="productListCtrl.product.description"></textarea>
    </div>
    <div>Price</div>
    <div>
        <input type="text" ng-model="productListCtrl.product.price" />
    </div>
    <div>
        <button ng-click="productListCtrl.addProduct(productListCtrl.product)">Submit</button>
    </div>
</div>